body {
  background-color: black;
  color: aliceblue;
  text-align: center;
}

.template {
  background: #020024;
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
  max-width: 800px;
  margin: 80px auto;
  border: 10px solid rgba(240, 248, 255, 0.3);
  border-radius: 5px 80px;
  padding: 10px;
  box-shadow: 5px 5px 5px red;
}

h1 {
  font-size: 60px;
  margin: 20px 0 10px 0;
}

.topic-input {
  background-color: rgba(191, 206, 240, 0.1);
  padding: 10px 20px;
  margin: 20px auto;
  width: 40%;
  color: #fff;
  font-size: 15px;
  border-radius: 50px;
  border: none;
  box-shadow: 1px 1px 1px red;
}

.search-button {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin: 10px 2px auto;
  width: fit-content;
  font-size: 15px;
  border-radius: 50px;
  border: none;
  box-shadow: 1px 1px 1px red;
}

.poem {
  font-family: "Shantell Sans", cursive;
  line-height: 50px;
  padding: 50px;
  font-size: 25px;
}

footer {
  border-top: 1px solid rgba(240, 248, 255, 0.2);
  padding: 10px;
  margin: 50px 0 0 0;
  font-size: 15px;
}

a {
  color: red;
  text-decoration: none;
  font-style: italic;
  padding: 0 5px;
  font-weight: bold;
  transition: all 200ms ease-in-out;
}

a:hover {
  text-decoration: underline;
  transform: ;
}
